{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="{% static 'assets/tupclogo.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    
     <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <div class="container-fluid container">
          <div class="tup-title">
            <img class="image-nav" src="{% static 'assets/tupclogo.png' %}" width="70" alt="">
            <h4 class="custom-title">Technological University of the Philippines</h4> 
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link icon-flex" id="color-c"  href="{% url 'password' %}" ><i class='bx bxs-user bx-right'></i> Account Settings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-flex" id="color-c"  href="{% url 'logout_student' %}">Logout <i class='bx bx-exit bx-left'></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container marg-top d-flex justify-content-center" data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true">
        <div class="card card_custom-2">
            <i class='bx bxs-user text-center bx-custom'></i>
            <br>
            <form method="POST">
                {% csrf_token %}
                <h3 class="text-center">Change Password</h3>
                <br>
                <div class="form-outline mb-4">
                    <input type="password" class="form-control" name="old_password" placeholder="Old Password" required/>
                </div>
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must conatain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
    
                <div class="form-outline mb-4">
                    <input type="password" class="form-control" name="new_password1" placeholder="New Password" required/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" class="form-control" name="new_password2" placeholder="Re-type New Password" required/>
                </div>
      
                <br>
                <div class="text-center">
                    <a class="btn btn-secondary" href="{% url 'book_app_student' %}">Back</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
                </div>
                
        </div>
    </div>
         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to update your password?</h4>
                        <p>You will be automatically logout and kindly login your new password</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger" name="">Yes</button>
                    </div>
                </form>
                </div>
            </div>
            </form>
        </div>
    <br><br>


    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
         AOS.init({
            duration: 3000,
            once: true,
        });
    </script>

</body>
</html>