{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="{% static 'assets/tupclogo.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-custom ">
        <div class="container">
            <div class="container-fluid flex-nav">
                <div class="tup-title">
                    <img class="image-nav" src="{% static 'assets/tupclogo.png' %}" width="70" alt="">
                    <h4 class="custom-title">Technological University of the Philippines</h4> 
                  </div>
            </div>
        </div>
    </nav>
    

    <div class="d-flex flex-row bd-highlight mb-3">
        <a href="{% url 'login_admin' %}" style="text-decoration: none; color:rgb(151, 8, 8);"><i class='bx bx-left-arrow-alt'></i> Login as Admin </a>
      </div>
    <div class="container marg-top d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
        <div class="card card_custom-2">
            <i class='bx bxs-user-rectangle bx-custom text-center'></i>
            <br>
            <form method="POST">
                {% csrf_token %}
                <h3 class="text-center">Superuser - Login</h3>
                <br>
                <div class="form-outline mb-4">
                    <input type="text" id="" class="form-control" name="username" placeholder="Username" required/>
                  </div>
                <div class="form-outline mb-4">
                  <input type="password" id="" class="form-control" name="password" placeholder="Password" required/>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <a href="{% url 'reset_password' %}" class="forgot">Forgot password?</a>
                  </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-secondary" href="{% url 'login_admin' %}">Back</a>
                    <button type="submit" class="btn btn-danger">Sign in</button>
                </div>
              </form>
        </div>
    </div>

    <br><br>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
         AOS.init({
            duration: 3000,
            once: true,
        });
    </script>
    {% for message in messages %}
    <script>
        Swal.fire({
            title: '{{message}}',
            
            confirmButtonColor: '#d33',
            })
    </script>
    {% endfor %}
</body>
</html>