{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="{% static 'assets/tupclogo.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-custom ">
        <div class="container">
            <div class="container-fluid flex-nav">
                <div class="tup-title">
                    <img class="image-nav" src="{% static 'assets/tupclogo.png' %}" width="70" alt="">
                    <h4 class="custom-title">Technological University of the Philippines</h4> 
                  </div>
            </div>
        </div>
    </nav>
    


    <div class="container marg-top d-flex justify-content-center" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
        <div class="card card_custom-2" >
            {% if validlink %}
            <i class='bx bxs-key bx-custom text-center'></i>
            <br>
            <form action="" method="POST">
                {% csrf_token %}
                <h3 class="text-center">Change Password</h3>
                <br>
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must conatain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
    
                <div class="form-outline mb-4">
                    <input type="password" id="form1Example2" name="new_password1" class="form-control" placeholder="New Password" required/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="form1Example2" name="new_password2" class="form-control" placeholder="Confirm Password" required/>
                </div>
                <div class="text-center">
                    <a href="{% url 'Home' %}" class="btn btn-secondary">Back</a>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
                <div class="text-center">
                    <a class="btn btn-secondary" href="{% url 'Home' %}" style="width: 150px;">Back</a>
                </div>
            {% endif %}
        </div>
    </div>

    <br><br>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
         AOS.init({
            duration: 3000,
            once: true,
        });
    </script>
</body>
</html>