{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Signup</title>
    <link href="{% static 'assets/tupclogo.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <div class="container">
            <div class="container-fluid flex-nav">
                <div class="tup-title">
                    <img class="image-nav" src="{% static 'assets/tupclogo.png' %}" width="70" alt="">
                    <h4 class="custom-title">Technological University of the Philippines</h4> 
                  </div>
            </div>
        </div>
    </nav>


    
    <div class="container marg-top d-flex justify-content-center" data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true">
        <div class="card card_custom-2">
            <i class='bx bxs-user text-center bx-custom'></i>
            <br>
            <form method="POST">
                {% csrf_token %}
                <h3 class="text-center">Student - Signup</h3>
                <br>
                <div class="form-outline mb-4">
                    <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="6" class="form-control" name="username" placeholder="I.D Number ex. 18XXXX" required/>
                  </div>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" name="email" placeholder="Email" required/>
                  </div>
                
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must conatain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" name="password1" placeholder="Password" required/>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" name="password2" placeholder="Re-type Password" required/>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <a class="btn btn-secondary" href="{% url 'login_student' %}">Back</a>
                    <button type="submit" class="btn btn-danger">Sign up</button>
                </div>
              </form>
        </div>
    </div>

    <br><br>


    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
         AOS.init({
            duration: 3000,
            once: true,
        });
    </script>
    {% for message in messages %}
    <script>
        Swal.fire({
            title: '{{message}}',
            confirmButtonColor: '#d33',
            })
    </script>
    {% endfor %}



</body>
</html>